*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}


header {
  text-align: center;
}


section.game-status{
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.game-status > p {
  margin: 5px;
}

section.game-status > h2 {
  font-size: 1.25rem;
  margin: 0;
}
